In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('telecom_churn_dataset_100.csv')
df.head(10)

,customer_id,age,tenure,monthly_charges,total_charges,internet_service,contract_type,customer_support_calls,churn
0,C001,64,55,86.87,2624.18,No,2 Year,8,0
1,C002,44,62,110.80,4969.82,No,2 Year,2,1
2,C003,30,59,46.16,3563.92,Fiber,1 Year,9,0
3,C004,24,4,47.42,2314.31,No,1 Year,4,0
4,C005,30,33,65.05,1308.20,Fiber,1 Year,2,1
5,C006,41,26,110.13,2318.96,Fiber,1 Year,4,1
6,C007,38,42,63.07,2765.84,Fiber,Month-to-Month,0,0
7,C008,52,70,119.78,1052.46,Fiber,1 Year,9,0
8,C009,48,64,93.63,4636.97,Fiber,1 Year,2,1
9,C010,65,42,62.79,4505.25,Fiber,Month-to-Month,8,0